.w-auto	{width: auto;}
.w-half	{width: 50%;}
.w-1-3	{width: 33.333333%;}
.w-2-3	{width: 66.666667%;}
.w-1-4	{width: 25%;}
.w-3-4	{width: 75%;}
.w-1-5	{width: 20%;}
.w-2-5	{width: 40%;}
.w-3-5	{width: 60%;}
.w-4-5	{width: 80%;}
.w-1-10	{width: 10%;}

.w-1-12	{width: 8.333333%;}
.w-2-12	{width: 16.666667%;}
.w-3-12	{width: 25%;}
.w-4-12	{width: 33.333333%;}
.w-5-12	{width: 41.666667%;}
.w-6-12	{width: 50%;}
.w-7-12	{width: 58.333333%;}
.w-8-12	{width: 66.666667%;}
.w-9-12	{width: 75%;}
.w-10-12	{width: 83.333333%;}
.w-11-12	{width: 91.666667%;}
.w-full	{width: 100%;}
